# Ignore node_modules directory
node_modules/

# Ignore Python virtual environment
venv/
# Ignore build outputs
build/
dist/

# Ignore temporary files
*.log
*.tmp
*.swp
*.bak

# Ignore compiled files
*.o
*.out
*.exe
*.plan

# Ignore python environment
.venv/

# Ignore Test files
test/

# Ignore Visual Studio Code settings
.vscode/

.antlr/

.ezenv/

# Ignore OS-specific files
.DS_Store
Thumbs.db
README.md


extensions/

